:root {
    --progress-height: 14px;
    --progress-height: 14px;
}

.slider-container {
    margin: 5px;
    display: flex;
    height: 60px;
    flex-direction: column;
    justify-content: center;
}
.slider-labels {
    display: flex;
    justify-content: space-evenly;
    height: 20px;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
}
.slider {
    display: block;
    -webkit-appearance: none;  
    appearance: none;
    width: 140px; 
    height: 25px;
    background: #ffffff; 
    margin: 4px 20px;
    outline: none; 
    opacity: 0.9;
    -webkit-transition: .2s; 
    transition: opacity .2s;
    border-radius: 90px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}
.slider:hover {
    opacity: 1; 
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px;
    border-radius: 90%;
    border: 3px solid rgb(78, 134, 255);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    background: white;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    appearance: none;
    width: 18px; 
    height: 18px;
    border-radius: 90%;
    border: 3px solid rgb(78, 134, 255);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    background: white;
    cursor: pointer;
}

/* =================== CONTROLS =================== */
.tooltiptext {
    font-family: sans-serif;
    display: block;
    visibility: hidden;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.750);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    right: -208px;
    top: 0;
    position: absolute;
    z-index: 1;
}
.tooltip {
    position: relative;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltiptext:before {
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right:8px solid rgba(0, 0, 0, 0.750);
    border-left: 8px solid transparent;
    margin-left: -26px;
    top: 8px;
}

button {
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    min-width: 80px;
    height: 40px;
    border-radius: 3px;
    border: 0px solid white;
    font-size: 20px;
    color: white;
    background-color:#4184ff;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    cursor: pointer;
}
button:hover {
    background-color:#2f6fe6;
}
button:active {
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

summary {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 80px;
    height: 40px;
    border-radius: 3px;
    border: 0px solid white;
    font-size: 20px;
    color: white;
    background-color:#4184ff;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
summary:hover {
    background-color:#2f6fe6;
}

details {
    margin: 5px;
    position: relative;
}
.details-body {
    margin-top: 5px;
    z-index: 10;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    background-color: #4184ff;
    color: white;
    overflow: hidden;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}
.details-body option {
    padding: 5px 5px;
    font-size: 20px;
    cursor: pointer;
}
.details-body option:hover {
    background-color:#2f6fe6;
}
.details-body option:focus {
    background-color:#2f6fe6;
}

/* =============================== interactive animation progress bar =============================== */
#animation-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 430px;
    min-height: 40px;
    background-color: #2b4b86;
    padding: 5px;
    flex-grow: 1;
}
@media only screen and (max-width: 1360px)
{
  #animation-controls {
    width: 100%;
  }
}

#play-button {
    min-width: 40px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    outline: none;
}
#play-button.play {
    background-image: url("/svg/play_arrow-24px.svg");
}
#play-button.pause {
    background-image: url("/svg/pause-24px.svg");
}
#play-button[disabled] {
    background-color: grey;
    cursor: not-allowed;
}

output {
    color: white;
    text-align: left;
    flex-grow: 1;
    margin-left: 5px;
}


#animation-progress {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: calc(100% - 150px); /* Specific width is required for Firefox. */
    min-width: 200px;
    flex-shrink: 1;
    background: #fff; /* Otherwise white in Chrome */
    outline: none;
    cursor: pointer;
}
#animation-progress[disabled] {
    cursor: not-allowed;
}

/* webkit */
#animation-progress:not([disabled]):hover::-webkit-slider-thumb {
    height: 24px;
    width: 24px;
    margin-top: -6px;
    border-radius: 100%;
    visibility: visible;
}
#animation-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    visibility: hidden;
    height: var(--progress-height);
    width: 0px;
    background: #ff0000;
    transition: .3s;
}
#animation-progress::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--progress-height);
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}


/* firefox */
#animation-progress::-moz-range-thumb {
    visibility: hidden;
    height: var(--progress-height);
    width: 0px;
    background: #ff0000;
    transition: .3s;
    border: none;
}
#animation-progress:not([disabled]):hover::-moz-range-thumb {
    height: 24px;
    width: 24px;
    margin-top: -6px;
    border-radius: 100%;
    visibility: visible;
}
#animation-progress::-moz-range-track {
    width: 100%;
    height: var(--progress-height);
}
