/* =================== NODE =================== */

.weight-overlay {
    width: 100%;
    height: 100%;
}

.noDrag {
    user-select: none;
}

.node {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border: 1px solid rgb(26, 90, 163);
    overflow: hidden;
    /* transition: .15s; */
    animation-delay: 0s;
    animation-duration: .2s; 
    animation-iteration-count: 1;
    animation-play-state: running;
}

.node:hover {
    background-color:  rgba(52, 124, 206, 0.3);
    opacity: 1;
}

.cost-1 {
    background-color: var(--weight-color);
    opacity: 0;
}
.cost-2 {
    background-color: var(--weight-color);
    opacity: .1;
}
.cost-3 {
    background-color: var(--weight-color);
    opacity: .2;
}
.cost-4 {
    background-color: var(--weight-color);
    opacity: .3;
}
.cost-5 {
    background-color: var(--weight-color);
    opacity: .4;
}
.cost-6 {
    background-color: var(--weight-color);
    opacity: .5;
}
.cost-7 {
    background-color: var(--weight-color);
    opacity: .6;
}
.cost-8 {
    background-color: var(--weight-color);
    opacity: .7;
}
.cost-9 {
    background-color: var(--weight-color);
    opacity: .8;
}
.cost-10 {
    background-color: var(--weight-color);
    opacity: .9;
}
.visited.cost-1 {
    opacity: .28;
}
.visited.cost-2 {
    opacity: .36;
}
.visited.cost-3 {
    opacity: .44;
}
.visited.cost-4 {
    opacity: .52;
}
.visited.cost-5 {
    opacity: .60;
}
.visited.cost-6 {
    opacity: .68;
}
.visited.cost-7 {
    opacity: .76;
}
.visited.cost-8 {
    opacity: .84;
}
.visited.cost-9 {
    opacity: .92;
}
.visited.cost-10 {
    opacity: 1;
}

.visited {
    background-color: var(--visited-bg);
    animation-timing-function: ease-in-out; 
}
.visited.animate.below:not([weighted]) {
    animation-name: visitedBelow;
}
.visited.animate.above:not([weighted]) {
    animation-name: visitedAbove;
}
.visited.animate.right:not([weighted]) {
    animation-name: visitedRight;
}
.visited.animate.left:not([weighted]) {
    animation-name: visitedLeft;
}
.visited.animate.below[weighted] {
    animation-name: visitedBelowSimple;
}
.visited.animate.above[weighted] {
    animation-name: visitedAboveSimple;
}
.visited.animate.right[weighted] {
    animation-name: visitedRightSimple;
}
.visited.animate.left[weighted] {
    animation-name: visitedLeftSimple;
}

.path {
    background-color: var(--path-bg);
    background-repeat: no-repeat;
}
.path.animate.below {
    animation-name: pathBelow !important;
}
.path.animate.above {
    animation-name: pathAbove !important;
}
.path.animate.right {
    animation-name: pathRight !important;
}
.path.animate.left {
    animation-name: pathLeft !important;
}

.path.above {
    background-image: url('/svg/arrow_downward-24px.svg');
    background-size: 24px 24px;
}
.path.right {
    background-image: url('/svg/arrow_back-24px.svg');
    background-size: 24px 24px;
}
.path.below {
    background-image: url('/svg/arrow_upward-24px.svg');
    background-size: 24px 24px;
}
.path.left {
    background-image: url('/svg/arrow_forward-24px.svg');
    background-size: 24px 24px;
}

.path.cost-1 {
    opacity: .64;
}
.path.cost-2 {
    opacity: .68;
}
.path.cost-3 {
    opacity: .72;
}
.path.cost-4 {
    opacity: .76;
}
.path.cost-5 {
    opacity: .80;
}
.path.cost-6 {
    opacity: .84;
}
.path.cost-7 {
    opacity: .88;
}
.path.cost-8 {
    opacity: .92;
}
.path.cost-9 {
    opacity: 96;
}
.path.cost-10 {
    opacity: 1;
}

.node[isStart] {
    background-color:rgb(255, 230, 0);
    background-image: url('/svg/home-24px.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 1;
}

.node[isEnd] {
    background-color:rgb(255, 0, 0);
    background-image: url('/svg/flag-24px.svg');
    background-size: 23px 23px;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 1;
}

.node[isWall] {
    border-color:rgb(29, 55, 110);
    background-color: rgb(29, 55, 110);
    animation-timing-function: ease-out; 
    animation-name: bounce;
    opacity: 1;
}

/* =========== ANIMATIONS ============ */
@keyframes bounce {
    0%{
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .6);
        background-color: var(--visited-bg-animated);
    }
}

@keyframes visitedBelow {
    0% {
        transform: translateY(24px);
    }
    50% {
        transform: translateY(0px);
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .2);
    }
    100% {
        background-color: var(--visited-bg-animated);
    }
}

@keyframes visitedAbove {
    0% {
        transform: translateY(-24px);
    }
    50% {
        transform: translateY(0px);
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .2);
    }
    100% {
        background-color: var(--visited-bg-animated);
    }
}

@keyframes visitedRight {
    0% {
        transform: translateX(24px);
    }
    50% {
        transform: translateX(0px);
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .2);
    }
    100% {
        background-color: var(--visited-bg-animated);
    }
}

@keyframes visitedLeft {
    0% {
        transform: translateX(-24px);
    }
    50% {
        transform: translateX(0px);
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .2);
    }
    100% {
        background-color: var(--visited-bg-animated);
    }
}

@keyframes visitedBelowSimple {
    50% {
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .2);
    }
    100% {
        background-color: var(--visited-bg-animated);
    }
}

@keyframes visitedAboveSimple {
    50% {
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .2);
    }
    100% {
        background-color: var(--visited-bg-animated);
    }
}

@keyframes visitedRightSimple {
    50% {
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .2);
    }
    100% {
        background-color: var(--visited-bg-animated);
    }
}

@keyframes visitedLeftSimple {
    50% {
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .2);
    }
    100% {
        background-color: var(--visited-bg-animated);
    }
}

/* path */
@keyframes pathAbove {
    60% {
        background-color: var(--path-bg-animated);
        transform: scale(1.2);
    }
}

@keyframes pathRight {
    60% {
        background-color: var(--path-bg-animated);
        transform: scale(1.2);
    }
}

@keyframes pathLeft {
    60% {
        background-color: var(--path-bg-animated);
        transform: scale(1.2);
    }
}

@keyframes pathBelow {
    60% {
        background-color: var(--path-bg-animated);
        transform: scale(1.2);
    }
}